// COLOR
$accentCoolAccentCool: #00bde3;
$accentCoolAccentCoolDark: #28a0cb;
$accentCoolAccentCoolDarker: #07648d;
$accentCoolAccentCoolLight: #97d4ea;
$accentCoolAccentCoolLighter: #e1f3f8;
$accentWarmAccentWarm: #fa9441;
$accentWarmAccentWarmDark: #c05600;
$accentWarmAccentWarmDarker: #775540;
$accentWarmAccentWarmLight: #ffbc78;
$accentWarmAccentWarmLighter: #fce2c5;
$baseBase: #71767a;
$baseBaseDark: #565c65;
$baseBaseDarker: #3d4551;
$baseBaseDarkest: #1b1b1b;
$baseBaseLight: #a9aeb1;
$baseBaseLighter: #dfe1e2;
$baseBaseLightest: #f0f0f0;
$baseInk: #1b1b1b;
$disabledDisabled: #c9c9c9;
$disabledDisabledDark: #adadad;
$disabledDisabledLight: #e6e6e6;
$errorError: #d54309;
$errorErrorDark: #b50909;
$errorErrorDarker: #6f3331;
$errorErrorLight: #f39268;
$errorErrorLighter: #f4e3db;
$focusFocus: #2491ff;
$grayscaleBlack: #000000;
$grayscaleGray10: #e6e6e6;
$grayscaleGray20: #c9c9c9;
$grayscaleGray30: #adadad;
$grayscaleGray40: #919191;
$grayscaleGray5: #f0f0f0;
$grayscaleGray50: #757575;
$grayscaleGray60: #5c5c5c;
$grayscaleGray70: #454545;
$grayscaleGray80: #2e2e2e;
$grayscaleGray90: #1b1b1b;
$grayscaleWhite: #ffffff;
$infoInfo: #00bde3;
$infoInfoDark: #459caf;
$infoInfoDarker: #2a646d;
$infoInfoLight: #99deea;
$infoInfoLighter: #e7f6f8;
$primaryPrimary: #005ea2;
$primaryPrimaryDark: #1a4480;
$primaryPrimaryDarker: #162e51;
$primaryPrimaryLight: #73b3e7;
$primaryPrimaryLighter: #d9e8f6;
$primaryPrimaryVivid: #0050d8;
$secondarySecondary: #d83933;
$secondarySecondaryDark: #b50909;
$secondarySecondaryDarker: #8b0a03;
$secondarySecondaryLight: #f2938c;
$secondarySecondaryLighter: #f4e3db;
$secondarySecondaryVivid: #e41d3d;
$successSuccess: #00a91c;
$successSuccessDark: #4d8055;
$successSuccessDarker: #446443;
$successSuccessLight: #70e17b;
$successSuccessLighter: #ecf3ec;
$warningWarning: #ffbe2e;
$warningWarningDark: #e5a000;
$warningWarningDarker: #936f38;
$warningWarningLight: #fee685;
$warningWarningLighter: #faf3d1;
