:root {
  /* COLOR */
  --accent-cool-accent-cool: rgb(0, 189, 227);
  --accent-cool-accent-cool-dark: rgb(40, 160, 203);
  --accent-cool-accent-cool-darker: rgb(7, 100, 141);
  --accent-cool-accent-cool-light: rgb(151, 212, 234);
  --accent-cool-accent-cool-lighter: rgb(225, 243, 248);
  --accent-warm-accent-warm: rgb(250, 148, 65);
  --accent-warm-accent-warm-dark: rgb(192, 86, 0);
  --accent-warm-accent-warm-darker: rgb(119, 85, 64);
  --accent-warm-accent-warm-light: rgb(255, 188, 120);
  --accent-warm-accent-warm-lighter: rgb(252, 226, 197);
  --base-base: rgb(113, 118, 122);
  --base-base-dark: rgb(86, 92, 101);
  --base-base-darker: rgb(61, 69, 81);
  --base-base-darkest: rgb(27, 27, 27);
  --base-base-light: rgb(169, 174, 177);
  --base-base-lighter: rgb(223, 225, 226);
  --base-base-lightest: rgb(240, 240, 240);
  --base-ink: rgb(27, 27, 27);
  --disabled-disabled: rgb(201, 201, 201);
  --disabled-disabled-dark: rgb(173, 173, 173);
  --disabled-disabled-light: rgb(230, 230, 230);
  --error-error: rgb(213, 67, 9);
  --error-error-dark: rgb(181, 9, 9);
  --error-error-darker: rgb(111, 51, 49);
  --error-error-light: rgb(243, 146, 104);
  --error-error-lighter: rgb(244, 227, 219);
  --focus-focus: rgb(36, 145, 255);
  --grayscale-black: rgb(0, 0, 0);
  --grayscale-gray-10: rgb(230, 230, 230);
  --grayscale-gray-20: rgb(201, 201, 201);
  --grayscale-gray-30: rgb(173, 173, 173);
  --grayscale-gray-40: rgb(145, 145, 145);
  --grayscale-gray-5: rgb(240, 240, 240);
  --grayscale-gray-50: rgb(117, 117, 117);
  --grayscale-gray-60: rgb(92, 92, 92);
  --grayscale-gray-70: rgb(69, 69, 69);
  --grayscale-gray-80: rgb(46, 46, 46);
  --grayscale-gray-90: rgb(27, 27, 27);
  --grayscale-white: rgb(255, 255, 255);
  --info-info: rgb(0, 189, 227);
  --info-info-dark: rgb(69, 156, 175);
  --info-info-darker: rgb(42, 100, 109);
  --info-info-light: rgb(153, 222, 234);
  --info-info-lighter: rgb(231, 246, 248);
  --primary-primary: rgb(250, 148, 65);
  --primary-primary-dark: rgb(26, 68, 128);
  --primary-primary-darker: rgb(22, 46, 81);
  --primary-primary-light: rgb(255, 188, 120);
  --primary-primary-lighter: rgb(217, 232, 246);
  --primary-primary-vivid: rgb(153, 222, 234);
  --secondary-secondary: rgb(216, 57, 51);
  --secondary-secondary-dark: rgb(181, 9, 9);
  --secondary-secondary-darker: rgb(139, 10, 3);
  --secondary-secondary-light: rgb(242, 147, 140);
  --secondary-secondary-lighter: rgb(244, 227, 219);
  --secondary-secondary-vivid: rgb(228, 29, 61);
  --success-success: rgb(0, 169, 28);
  --success-success-dark: rgb(77, 128, 85);
  --success-success-darker: rgb(68, 100, 67);
  --success-success-light: rgb(112, 225, 123);
  --success-success-lighter: rgb(236, 243, 236);
  --warning-warning: rgb(255, 190, 46);
  --warning-warning-dark: rgb(229, 160, 0);
  --warning-warning-darker: rgb(147, 111, 56);
  --warning-warning-light: rgb(254, 230, 133);
  --warning-warning-lighter: rgb(250, 243, 209);
}
